
<% unless todo.id.nil? %>
  <div id = "T<%= todo.id %>" class = "row todo">
    <div class = "col-8">
      <div class = "todo-body">
        <%= link_to todo.body, todo %>
      </div>
      <div class = "todo-time">
        <%= format_time(todo.created_at) %>
      </div>
    </div>
    <div class = "col-4 todo-options">
      <div class = "row buttons">
        <div class = "col-1 options">
          <%= link_to '<i class="icons material-icons up">keyboard_arrow_up</i>'.html_safe, todos_rearrange_path(:id => todo.id, :direction => "up", :active_status => todo.active?),
              data: {url: url_for(action: :rearrange) , :remote=> true, method: :post } %>
        </div>
        <div class = "col-1 options">
          <%= link_to '<i class="icons material-icons down">keyboard_arrow_down</i>'.html_safe, todos_rearrange_path(:id => todo.id, :direction => "down", :active_status => todo.active?),
              data: {url: url_for(action: :rearrange), :remote=> true, method: :post } %>
        </div>
        <div class = "col-1 options">
          <% if todo.is_owner? %>
            <%= link_to '<i class="icons material-icons">close</i>'.html_safe, todo_path(id: todo.id), method: :delete, data:{confirm: "Are you sure ?"}, class: "delete-todo",
                :remote=> true %>
          <% end %>
        </div>
        <div class = "col-1 options round">
          <% if todo.is_owner? %>
            <%= check_box_tag todo.id, todo.id, todo.active,
                data: {url: url_for(action: :update, id:todo.id), :remote => true, method: :patch } %>
                <label for="<%=todo.id%>"></label>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>