<div class = "search-box">
  <%= text_field_tag :search, "", placeholder: "Search", class: "search_todos" %>
</div>

</div>

<div class="message-here">
</div>

<div class = "entry-box">
    <%= text_field_tag :create, "", placeholder: "Enter your todo", class: "todo-entry" %>
</div>

<div class = "active-change">
  <%= radio_button_tag :active_status, 'active_only', false, data: {url: :todos, remote: true, method: :get } %>
    <label for="active_status_active_only">Active</label>
  <%= radio_button_tag :active_status, 'inactive_only', false, data: {url: :todos, remote: true, method: :get }%>
    <label for="active_status_inactive_only">Inactive</label>
</div>

<div class = "todos">
  <% if @todos.empty? %>
    <div class = "nothing">
      Nothing to show
    </div>
  <% else %>
    <% @todos.each do |todo| %>
      <%= render 'todo', todo: todo %>
    <% end %>
  <% end %>
</div>
<div class="row loading">
  <div class="col-11">
    <div class="loading-section align-items-center">
      <p>Loading...</p>
    </div>
  </div>
  <div class="col-1">
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
<div class="digg_pagination">
  <%= will_paginate @todos, page_links: false %>
</div>

<script>
  $("#active_status_active_only").prop("checked", true);
  $("#active_status_inactive_only").prop("checked", false);

  arrow_correction();

  $(".search_todos").keyup(function() {
    $('.todos').empty();
    $.ajax({
        type: 'GET',
        url: '/todos',
        data: {search: $(this).val()}
     });
  });

  $(".search_todos").keydown(function() {
    if (event.which == 27) {
      $(".search_todos").val('');
    };
  });

  $(".todo-entry").keydown(function() {
    if (event.which == 13) {
      $.ajax({
        type: 'POST',
          url: '/todos/',
          data: {create: $(this).val()}
      });
    };
    if (event.which == 27) {
      $(".todo-entry").val('');
    };
  });

  $('#active_status_active_only').click(function(){
    if($(this).attr("checked") != "checked"){
      $('.todos').empty();
    };
    $('#active_status_inactive_only').attr("checked", false);
    $(this).attr("checked", true);
  });

  $('#active_status_inactive_only').click(function(){
    if($(this).attr("checked") != "checked"){
      $('.todos').empty();
    };
    $('#active_status_active_only').attr("checked", false);
    $(this).attr("checked", true);
  });

  $(function(){
   $('.pagination a').attr('data-remote', 'true');
   $('.loading').hide();
  });

  function arrow_correction(){
    $('.up').parent().show();
    $('.down').parent().show();
    ($('.up').parent()).first().hide();
    ($('.down').parent()).last().hide();
  }

  $('.todos').on('scroll', function(){
    if (Math.round($('.todos')[0].scrollHeight - $('.todos').scrollTop()) == $('.todos').outerHeight()){
      if(($('.todos').html() == "") || ($('.pagination .next_page').length == 0)){
      }else{
        $('.loading').show();
        $('.pagination .next_page')[0].click();
      }
      if($('.pagination .next_page').hasClass('disabled')){
        $('.loading').hide();
      }
    };
  }).scroll();
</script>